@import "modern-normalize";

@font-face{
    font-family: Roboto;
    src: url(recources/roboto-regular-webfont.woff2);
}

:root {
    line-height: 1.5;
    --color-main-bg: #5E4B8A;
    --color-contrast: #CA7B9E;
    --color-accent:  #D6C8E0;
    --color-btn-links: #A77BCA;
    --color-text-bg: #F3F3F3;

    --fw-thin: 100;
    --fw-regular: 500;
    --fw-bold: 600;
    --fw-black: 700;

    --font-size-small: 1.2rem;
    --font-size-main: 1.4rem;
    --font-size-large: 1.8rem;
    --font-size-header: 2.2rem;
  
    --small-padding: 12px;
    --medium-padding: 24px;
    --large-padding: 36px
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
    padding: 0;
}

p{
    font-size: var(--font-size-small);
    font-weight: var(--fw-thin);
    opacity: 0.6;
}


ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

li{
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

h1{
    font-size: var(--font-size-header);
    font-weight: var(--fw-black);
}

h2{
    font-size: var(--font-size-main);
    font-weight: var(--fw-bold);
}

h3{
    font-size: var(--font-size-main);
    font-weight: var(--fw-regular);
}

p{
    font-weight: var(--fw-thin);
}

img {
    display: block;
    max-inline-size: 100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

a:hover, button:hover, img, .cards{
    cursor: pointer;
    transform: scale(1.05); 
    
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: var(--font-size-main);
    font-weight: var(--fw-regular);
    height: 100vh;
}

.container{
    height: 100%;
    display:grid;
    grid-template-columns: clamp(320px, 30%, 360px) 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar{
    grid-row:1/3;
    display: grid;
    grid-template-rows: repeat(2, 1fr) 8fr;
    background-color: #5E4B8A;
    color: #F3F3F3;
    padding: 0px var(--medium-padding);
}

.logo, .sidebar-nav li {
    display: flex;
    gap: var(--small-padding);
}

.logo > *{
    align-self: center;
}

.logo img, .sidebar-nav li img {
    filter: invert(1);
    align-self: center;    
}

.logo img{
    width: auto;
    height: 4rem;
}

.sidebar-nav{
    grid-row:2/4;
    font-weight: var(--fw-bold);
    font-size: var(--font-size-large);
    padding: var(--medium-padding);
    display: flex;
    flex-direction: column;
    gap: var(--medium-padding);
}

.sidebar-nav li img {
    grid-column: 2/3;
    width: var(--font-size-large);
    height: var(--font-size-large);
}

.header{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--color-text-bg);
    box-shadow: 0 4px 10px -4px var(--color-main-bg);
    padding: 0px var(--large-padding) var(--medium-padding);
    z-index: 10;
}

.header-top, .header-bottom{
    align-items: center;
    display: grid;
}

.header-top{
    grid-template-columns: 2fr 1fr;
}

.header-top form input{
    border: none;
    border-radius: var(--medium-padding);
    background-color: #D6C8E0;
    margin-left: var(--medium-padding);
    padding: 0px var(--medium-padding);
    flex: 1; 
}

.header-bottom{
    grid-template-columns: repeat(2, 1fr);
}


form, .header-left{
    display:flex;
    justify-content: flex-start;
    gap: var(--medium-padding);
    align-items: center;
}

.profile, .header-right{
    display:flex;
    justify-content: flex-end;
    gap: var(--medium-padding);
    align-items: center;
}

.header-left img, .Trending img{
    width: auto;
    height: 4rem;
    border-radius: 50%;
}

.profile img, .card-icons img{
    width: auto;
    height: 2rem;
    border-radius: 50%;
}

.header-right button{
    border: none;
    border-radius: var(--medium-padding);
    padding: 4px var(--medium-padding);
    background-color: var(--color-btn-links);
    font-weight: var(--fw-bold);
    color: #F3F3F3;
}


.content{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: var(--largepadding);
    background-color: var(--color-accent);
    padding: var(--medium-padding) var(--large-padding);
    z-index: 5;
}


.projects, .lol{
    grid-row: 1/3;
}

.lol{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.projects, .Accouncements, .Trending{
    display: grid;
    grid-template-rows:  50px 1fr;
    margin: 20px;
}

.project-content{
    display: grid;
    gap: var(--large-padding);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: minmax(320px, 1fr);
}

.project-content .cards, .Accouncements .cards, .Trending .cards{
    display:flex;
    flex-direction: column;
    margin-top: var(--small-padding);
    gap: var(--medium-padding);
    background-color: #F3F3F3;
    border-radius: var(--font-size-small);
    box-shadow: 0 4px 8px var(--color-main-bg);
    padding: var(--medium-padding);
    position:relative;
}
.project-content .cards{
    border-left: 12px solid var(--color-contrast);
}

.card-icons {
    display: flex;
    gap:var(--small-padding);
    position:absolute;
    bottom: 10%;
    right: var(--medium-padding);
}

.Accouncements .cards > div{
    border-bottom: 1px dashed #5E4B8A;
}

.Trending .cards > div{
    display: flex;
    gap: var(--medium-padding);
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1200px) {
    .sidebar, .lol {
      display: none;
    }

    .header, .content{
        grid-column: 1/3;
    }

    .projects{
        grid-column: 1/3;
    }
}

@media (max-width: 768px) {
    .header{
        padding-top: var(--medium-padding);
    }
    .header-bottom{
        display: none;
    }
    .header-top{
        grid-row: 1/3;
        gap: var(--medium-padding);
        align-self: center;
    }
    .profile:last-child > :last-child{
        display: none;
    }

    .profile img{
        min-width: 2rem;
        min-height: 2rem;
        flex-shrink: 0;
    }
}

